# Docker

Dockerfile
.dockerignore

# Git

.git
.gitignore
.gitattributes

# Registeries

.npmrc
.prettierrc
.eslintrc.cjs
.graphqlrc
.editorconfig

# App

.svelte-kit
node_modules
build
package
\*\*/.end
README.md
scripts

# Images

static/images/cosmetics/**
static/images/maps/**
static/images/unusuals/**
static/images/weapons/**

# Tools

.vscode